.contact-section {
  text-align: center;
  padding-block: var(--spacing-m);
  background-color: var(--bg-secondary);
}

.contact-section-text {
  margin-bottom: var(--spacing-s);
}

@media (min-width: 640px) {
  .contact-section-text {
    width: 50%;
    margin-inline: auto;
  }
}
