.contact-section {
  text-align: center;
  padding-block: var(--space-l);
  background-color: var(--bg-secondary);
}

.contact-section-text {
  margin-bottom: var(--space-base);
}

@media (min-width: 680px) {
  .contact-section-text {
    width: 80%;
    margin-inline: auto;
  }
}
