.footer {
  padding-block: var(--spacing-xs);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-xs);
}

.footer-text {
  font-size: var(--text-xs);
  text-transform: uppercase;
}
