footer {
  background-color: var(--bg-secondary);
  border-top: 1px solid var(--bg-primary);
}

.footer {
  padding-block: var(--space-base);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.social-link {
  font-size: 1.25rem;
}

.social-link:hover {
  color: var(--clr-primary-500);
}

.footer-text {
  font-size: var(--text-xs);
  text-transform: uppercase;
}
