footer {
  padding-block: var(--spacing-s);
  margin-top: auto;
}

.footer-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-base);
}
