.hero-main {
  padding-block: var(--spacing-m);
  text-align: center;
}

.hero-heading {
  font-size: var(--heading-1);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--spacing-s);
}

.hero-cta {
  display: flex;
  gap: var(--spacing-s);
  align-items: center;
  justify-content: center;
}

@media (min-width: 640px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .hero-main {
    padding-right: var(--spacing-m);
    padding-block: var(--spacing-l);
  }

  .hero-image {
    display: flex;
    height: 600px;
  }

  .hero-img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
