.intro-section {
  /* margin-top: var(--space-l); */
  margin-bottom: var(--space-l);
}

.intro-main {
  text-align: center;
}

.outline-text {
  color: var(--clr-primary-500);
  text-transform: uppercase;
  font-size: var(--text-xs);
  margin-bottom: var(--space-base);
  letter-spacing: 1px;
}

.hero-heading {
  font-size: var(--heading-1);
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: var(--space-base);
  color: var(--gradient);
}

.hero-cta {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.intro-image {
  margin-bottom: var(--space-base);
}

.hero-image {
  object-fit: cover;
  border-radius: 0.25rem;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  opacity: 1;
  transition: all ease 0.25s;
}

.image-wrapper {
  width: 80%;
  max-width: 400px;
  margin: var(--space-base) auto 0;
  position: relative;
  background-color: var(--clr-primary-500);
  border-radius: 0.25rem;
  opacity: 0.9;
  transition: all ease 0.25s;
}

.image-wrapper:hover,
.image-wrapper:focus {
  outline: 0;
  transform: translate(-4px, -4px);
}

.image-wrapper:hover::after,
.image-wrapper:focus::after {
  transform: translate(8px, 8px);
}

.image-wrapper:hover .hero-image,
.image-wrapper:focus .hero-image {
  filter: none;
  mix-blend-mode: normal;
}

.image-wrapper::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  transition: all ease 0.25s;
  border: 2px solid var(--clr-primary-500);
  top: 14px;
  left: 14px;
  z-index: -1;
}

@media (min-width: 1024px) {
  .intro-section {
    margin-block-start: var(--space-l);
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-l);
  }

  .intro-image,
  .intro-main {
    width: 50%;
    margin-bottom: 0;
  }

  .intro-main {
    align-self: center;
    justify-self: center;
    order: -1;
    text-align: left;
  }

  .intro-image {
    flex: 1;
  }

  .image-wrapper {
    width: 400px;
    margin: 0;
  }

  .hero-cta {
    justify-content: flex-start;
  }
}
