.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-s);
  position: relative;
}

.nav-list {
  display: none;
}

.nav-list-open {
  background-color: var(--clr-primary);
  background-color: var(--bg-secondary);
  padding: var(--spacing-xs);
  padding-top: var(--spacing-m);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 0;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.nav-link {
  padding: 0.5rem var(--spacing-xs);
  text-align: center;
}

.nav-link:hover {
  background-color: var(--bg-secondary);
}

.nav-btn {
  z-index: 10;
  padding-right: 1rem;
  font-size: var(--text-l);
}

@media (min-width: 640px) {
  .nav-list {
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    position: static;
  }
}
