.navbar {
  background-color: var(--bg-secondary);
  /* position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10; */
  border-bottom: 1px solid var(--clr-neutral-100);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-base);
  border-radius: 0.25rem;
}

.nav-list {
  display: none;
}

.nav-list-open {
  background-color: var(--bg-secondary);
  padding: var(--space-xs);
  padding-top: var(--space-s);
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 1rem;
  right: 0;
  transition: all 0.3s ease;
  border-radius: 1rem;
}

.nav-item {
  padding: 0.5rem;
  text-align: center;
}

.nav-link {
  text-transform: uppercase;
  font-size: var(--text-xs);
}

.nav-link:hover {
  color: var(--clr-primary-500);
}

.nav-btn {
  z-index: 10;
  /* padding-right: 1rem; */
  font-size: var(--text-l);
  color: var(--clr-text);
}

.nav-btn:hover {
  color: var(--clr-primary-500);
}

@media (min-width: 640px) {
  .nav-list {
    /* background-color: var(--bg-secondary); */
    display: flex;
    flex-direction: row;
    position: static;
  }

  .nav-link {
    padding-inline: var(--space-xs);
  }
}
