.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--spacing-s);
}

.nav {
  display: none;
  gap: var(--spacing-s);
}

/* .nav-link {
  padding-inline: var(--spacing-s);
} */

/* .nav-link:hover {
  background-color: var(--clr-neutral-100);
} */

@media (min-width: 640px) {
  .nav {
    display: flex;
  }
}
