.portfolio-section {
  margin-bottom: var(--space-l);
}

.project {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: var(--space-s);
}

.project-preview,
.project-details {
  flex: 1;
}

.project-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
  object-fit: cover;
}

.project-details {
  background-color: var(--clr-neutral-200);
  padding: var(--space-base);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  display: flex;
  flex-direction: column;
}

.project-name {
  font-size: var(--heading-3);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: var(--space-base);
}

.project-desc {
  font-size: var(--text-base);
  line-height: 1.6;
  opacity: 0.5;
  margin-bottom: var(--space-base);
}

.card-cta {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: auto;
}

@media (min-width: 640px) {
  /* .portfolio > :not(:hover) {
    opacity: 0.7;
  } */

  .project {
    /* transition: opacity 0.6s ease; */
  }
}
