.project-section {
  padding-bottom: var(--spacing-l);
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
  gap: var(--spacing-s);
}

.section-banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: var(--spacing-m);
}

.project-card {
  background-color: var(--bg-secondary);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-xs);
}

.project-card:hover {
  border: 1px solid var(--clr-primary);
}

.card-img {
  object-fit: cover;
  object-position: center;
  height: 200px;
}

.project-section-heading {
  text-align: left;
}

.card-heading {
  font-size: var(--text-l);
  text-transform: capitalize;
  font-weight: 600;
  margin-block: var(--spacing-xs);
}

.card-text {
  margin-bottom: var(--spacing-xs);
  font-size: var(--text-s);
}

.card-btn {
  align-self: flex-start;
  display: inline-block;
  margin-top: auto;
  font-size: var(--text-s);
}

.card-btn:hover {
  color: var(--clr-primary);
}

@media (min-width: 640px) {
  .project-container {
    gap: var(--spacing-s);
  }
  .project-card {
    padding: var(--spacing-s);
  }
}
