.contact-section {
  text-align: center;
  padding-block: var(--space-l);
  background-color: var(--surface2);
}

.contact-me {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: var(--space-s);
}

@media (min-width: 680px) {
  .contact-me {
    width: 70%;
    margin-inline: auto;
  }
}
