.contact-section {
  text-align: center;
  padding-block: var(--spacing-1100);
}

.contact-section__heading {
  color: var(--text-primary);
  font-size: 48px;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: var(--spacing-500);
}

@media (min-width: 680px) {
  .contact-section__heading {
    width: 70%;
    margin-inline: auto;
  }
}
