footer {
  /* background-color: var(--surface4); */
  border-top: 1px solid var(--surface2);
}

.footer {
  padding-block: var(--space-base);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-text {
  font-size: var(--text-xs);
  text-transform: capitalize;
}
