footer {
  border-top: 1px solid var(--clr-primary-400);
}

.footer {
  padding-block: var(--spacing-300);
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.footer-text {
  font-size: var(--text-xs);
  text-transform: capitalize;
}
