.hero__image {
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: var(--spacing-300);
}

.hero__text {
  font-size: var(--text-lg);
  margin-bottom: var(--spacing-300);
}

.hero__cta {
  display: flex;
  align-items: center;
  gap: var(--spacing-200);
}

@media (min-width: 1280px) {
  .hero__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    gap: var(--spacing-300);
  }

  .hero__image {
    grid-column: 3/4;
    grid-row: 1/2;
    margin-bottom: 0;
  }

  .hero__main {
    grid-column: 1/3;
    grid-row: 1/2;
  }
}
