/* .navbar {
  background-color: var(--bg-secondary);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-base);
  border-bottom: 1px solid var(--surface2);
}

.nav-list {
  display: none;
}

.nav-list-open {
  background-color: var(--surface2);
  padding-block: 3rem 1rem;
  padding-inline: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 1;
  width: 90%;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
  padding: 1.5rem;
  opacity: 0.9;
}

.nav-link {
  text-transform: uppercase;
  font-size: var(--text-xs);
}

.nav-link:hover {
  color: var(--text2);
  font-weight: 700;
}

.nav-btn {
  z-index: 10;
  font-size: var(--text-l);
  color: var(--clr-text);
}

.navbar__social-links {
  display: flex;
  gap: 1rem;
}

.social-link {
  font-size: 1.25rem;
}

.social-link:hover,
.social-link:focus {
  color: var(--brand);
}

@media (min-width: 640px) {
  .nav-list {
    display: flex;
    flex-direction: row;
    position: static;
    gap: 2rem;
  }

  .nav-link {
    padding-inline: var(--space-xs);
  }
}
