.nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding-block: var(--spacing-300);
}

.nav__logo {
  font-weight: var(--fw-semibold);
  color: var(--text-primary);
  font-size: var(--text-base);
  margin-right: auto;
}

.nav-list-open {
  background-color: var(--surface2);
  padding-block: 3rem 1rem;
  padding-inline: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 1;
  width: 90%;
  top: 75px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 4px 4px;
  justify-content: space-between;
  padding: 1.5rem;
  opacity: 0.9;
}

.nav__list {
  display: flex;
  gap: 0.25rem;
  margin-right: 0.75rem;
}

.nav__item {
  padding: 0.5rem;
  background-color: var(--surface1);
  border-radius: 50%;
  border: 1px solid var(--surface1);
}

.nav__item:hover,
.nav__item:focus {
  background-color: var(--surface2);
  color: var(--brand);
}

.nav__link {
  font-size: 1.5rem;
  color: inherit;
}

@media (min-width: 640px) {
  .nav__list {
    display: flex;
    gap: 0.75rem;
    margin-right: auto;
  }
}
