.portfolio-section {
  margin-bottom: var(--space-l);
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(337.5px, 1fr));
  grid-template-rows: auto;
  gap: var(--space-base);
  justify-content: center;
  /* align-items: center; */
}

.project {
  background-color: var(--surface2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  /* margin-bottom: var(--space-base); */
  flex: 1;
}

.project-preview,
.project-details {
  flex: 1;
}

.project-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  object-fit: cover;
}

.project-details {
  padding: var(--space-base);
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  align-items: flex-start;
}

.project-name {
  font-size: var(--heading-4);
  font-weight: 700;
  line-height: 1.1;
  color: var(--text1);
  text-transform: capitalize;
  margin-bottom: var(--space-base);
}

.project-desc {
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--text2);
  /* opacity: 0.5; */
  margin-bottom: var(--space-base);
}

.card-cta {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 1rem;
}

.project-link {
  font-size: 1.25rem;
}

.github-btn {
  display: block;
  font-size: 1.75rem;
  margin-left: var(--space-base);
  transition: all 0.3s;
}

.github-btn:hover {
  transform: scale(1.2);
}

.tools {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: var(--space-base);
}

.tag {
  display: inline-block;
  background-color: var(--surface1-light);
  padding: 0.125rem 0.5rem;
  border-radius: 4px;
  color: var(--brand);
  font-size: var(--text-s);
  font-weight: var(--fw-bold);
}

.card__link:hover,
.card__link:focus {
  color: var(--brand-light);
}

@media (min-width: 640px) {
  /* .portfolio > :not(:hover) {
    opacity: 0.5;
  } */

  /* .project {
    transition: opacity 0.6s ease;
  } */
}
