.skills-section {
  padding-block: var(--spacing-500);
}

.skills-section .header {
  margin-bottom: var(--spacing-300);
}

.skill__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: var(--bg-secondary);
  border-radius: 8px;
  border: 1px solid var(--border);
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-300);
}

.skill__item:first-child {
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(2) {
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(3) {
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(4) {
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(5) {
  border-right: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(6) {
  border-bottom: 1px solid var(--border);
}

.skill__item:nth-child(7) {
  border-right: 1px solid var(--border);
}

.skill__icon {
  width: 48px;
  height: 48px;
}

.skill__name {
  font-size: var(--text-xs);
  color: var(--text-primary);
}

.skill-level {
  font-size: var(--text-xs);
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (min-width: 680px) {
  .skill__list {
    grid-template-columns: repeat(4, 1fr);
  }

  .skill__item:nth-child(2) {
    border-right: 1px solid var(--border);
  }

  .skill__item:nth-child(5) {
    border-right: 1px solid var(--border);
    border-bottom: 0;
  }

  .skill__item:nth-child(6) {
    border-bottom: 0;
    border-right: 1px solid var(--border);
  }
}

@media (min-width: 1280px) {
  .skill__list {
    grid-template-columns: repeat(8, 1fr);
  }

  .skill__item:first-child {
    border-bottom: 0;
  }

  .skill__item:nth-child(2) {
    border-bottom: 0;
  }

  .skill__item:nth-child(3) {
    border-bottom: 0;
  }

  .skill__item:nth-child(4) {
    border-bottom: 0;
    border-right: 1px solid var(--border);
  }
}
