.skills-section {
  margin-bottom: var(--spacing-1100);
}

.skills-section-heading {
  text-align: center;
  margin-bottom: var(--spacing-500);
}

.skill__list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-500);
  align-items: center;
  justify-content: center;
}

.skill__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 80px; */
  /* height: 80px; */
}

.skill__icon {
  width: 48px;
  height: 48px;
}

.skill__name {
  font-size: var(--text-xs);
  color: var(--text-primary);
}

.skill-level {
  font-size: var(--text-xs);
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (min-width: 680px) {
  .skills-list {
    gap: var(--spacing-500);
  }
}
