.toggle-btn {
  color: var(--text-secondary);
  padding: 0.5rem;
  border: 1px solid var(--border);
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.toggle-btn:focus,
.toggle-btn:hover {
  border-color: var(--border-hover);
  color: var(--text-primary);
}

.toggle-btn__text {
  display: none;
}

.toggle-btn__icon {
  font-size: 1.5rem;
}

@media (min-width: 680px) {
  .toggle-btn__text {
    display: block;
  }
}
