@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --text-dark: hsl(0, 0%, 0%);
  --text-light: hsl(0, 0%, 0100%);

  --clr-primary: hsl(174, 100%, 29%);

  --clr-primary-50: hsla(0, 0%, 95%, 1);
  --clr-primary-100: hsla(0, 0%, 92%, 1);
  --clr-primary-200: hsla(0, 0%, 92%, 1);
  --clr-primary-300: hsla(0, 0%, 92%, 1);
  --clr-primary-400: hsla(0, 0%, 79%, 1);
  --clr-primary-500: hsla(0, 0%, 66%, 1);
  --clr-primary-600: hsla(0, 0%, 56%, 1);
  --clr-primary-700: hsla(0, 0%, 49%, 1);
  --clr-primary-800: hsla(0, 0%, 40%, 1);
  --clr-primary-900: hsla(0, 0%, 9%, 1);

  --heading-1: 2.25rem;
  --heading-2: 1.75rem;
  --heading-3: 1.5rem;
  --heading-4: 1.25rem;
  --heading-5: 1.125rem;
  --heading-6: 1.125rem;
  --text-base: 0.9375rem;
  --text-s: 0.875rem;
  --text-xs: 0.75rem;

  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;
  --fw-thin: 300;

  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-150: 0.75rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-1100: 5.5rem;

  --background-1: hsla(0, 0%, 100%, 1);
  --background-2: hsla(0, 0%, 98%, 1);

  --bg-primary: var(--background-2);
  --bg-secondary: var(--background-1);

  --text-primary: var(--clr-primary-900);
  --text-secondary: var(--clr-primary-800);

  background-color: var(--bg-primary);
  color: var(--text-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
} */

/* [color-scheme='light'] {
  color-scheme: light;
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
} */

/* [color-scheme='dark'] {
  color-scheme: dark;
  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
} */

html {
  scroll-behavior: smooth;
  --line-color: var(--bg-secondary);
}

body {
  margin: 0;
  hyphens: manual;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-inline: var(--spacing-300);
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
}

p {
  line-height: 1.5;
}

.btn {
  display: inline-flex;
  cursor: pointer;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  font-size: var(--text-s);
  font-weight: 700;
  border: 2px solid var(--clr-primary-900);
}

.btn--primary {
  background-color: var(--clr-primary-900);
  color: var(--clr-primary-50);
}

.btn--primary:hover,
.btn--primary:focus {
  background-color: var(--clr-primary-800);
  border-color: var(--clr-primary-800);
}

.btn--secondary {
  border-color: var(--clr-primary-700);
  color: var(--clr-primary-900);
}

.btn--secondary:hover {
  border-color: var(--clr-primary-900);
}

.section-heading {
  font-size: var(--heading-2);
  color: var(--text-primary);
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: var(--spacing-500);
  text-align: center;
}

.section-text {
  color: var(--text-secondary);
  margin-bottom: var(--spacing-300);
}

@media (min-width: 680px) {
  :root {
    --heading-1: 3.5rem;
    --heading-2: 2.5rem;
    --heading-3: 1.5rem;
    --heading-4: 1.25rem;
    --heading-5: 1.5rem;
    --heading-6: 1.125rem;
  }
}

@media (min-width: 1024px) {
  :root {
    --heading-1: 3.5rem;
    --heading-2: 2.5rem;
    --heading-3: 1.5rem;
    --heading-4: 1.5rem;
    --heading-5: 1.5rem;
    --heading-6: 1.125rem;
  }
}
